/* Navbar Style */
ul.navbar-nav {
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around; /* Aligns items horizontally */
    background-color: #333;
}

ul.navbar-nav li {
    display: inline;
    padding: 10px 20px;
}

ul.navbar-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

ul.navbar-nav a:hover {
    color: #f2f2f2; /* Light color on hover */
}

/* Bio area */
div.profile-pic {
    margin-top: 1em;
}

figure.profile-pic img {
    width: 80%;
    max-width: 190px;
    margin: 0 auto;
    display: block;
}

.bio-info {
    margin: 1em auto;
    max-width: 220px;
}

.name {
    font-size: 1.5em;
}

.focusareas {
    font-size: .9em;
    font-weight: bold;
}

.whatido {
    margin-top: 1em;
}

.major {
    margin-top: 1em;
}

.gradyear {
    margin-top: 1em;
}

/* Social links at the bottom of the page */
#socials {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#socials a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 1.5em;
}

#socials a:hover {
    color: #007bff;
}

/* Sidebar for blog archive / each post */
ul.ablog-archive {
    padding-left: 0px;
}

.bd-sidebar h2 {
    font-size: 1.4em;
}

.bd-sidebar ul {
    padding-left: 0;
    list-style-type: none;
}

.bd-sidebar li {
    padding-bottom: .5em;
}
